<div class="col-xs-12 col-sm-4">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= vehicle.photo %>');">
  <div class="card-category"><%= vehicle.user.first_name%></div>

    <div class="card-description">
      <h2><%= vehicle.marque %> </h2>
      <p><%= vehicle.description[0..50] %></p>
    </div>
    <%= image_tag vehicle.user.avatar, class:"card-user avatar-large" %>
    <%= link_to '', vehicle, class: "card-link" %>
  </div>
</div>
