<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'poutine.jpg' %>');">
  <div class="banner-content">
    <h1>Welcome Home</h1>
    <p>Select the vehicle you want to rent</p>

    <%= simple_form_for :search, url: vehicles_path, method: :get, html: {class: "form-inline"} do |f| %>
      <%= f.input :city, placeholder: 'City ?', label: false,input_html: {class: "form-control input-lg"} %>
      <%= f.input :date, as: :date, label: false,input_html: {class: "form-control input-lg"} %>
      <%= f.input :category, label: false,prompt: "Select category", collection: @categories, input_html: {class: "form-control input-lg"}%>
      <%= f.button :submit, input_html: {class: "btn btn-primary btn-lg"}%>
    <% end %>

  </div>
</div>

<div class="text-center padded features">
  <div class="container">
    <div class="row">
      <h1 class="text-center">Enjoy your ride</h1>
      <p>Be unique and rent the trendiest vehicle</p>
      <br>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <i class="fa fa-car fa-3x" aria-hidden="true"></i>
        <h2>Cars</h2>
        <p>The earth is your new home.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <i class="fa fa-ship fa-3x" aria-hidden="true"></i>
        <h2>Boat</h2>
        <p>No cash issues anymore.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <i class="fa fa-motorcycle fa-3x" aria-hidden="true"></i>
        <h2>Motorbike</h2>
        <p>Discover new culture and lifestyle.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 ">
        <i class="fa fa-bus fa-3x" aria-hidden="true"></i>
        <h2>Van</h2>
        <p>Join a community you will love.</p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-grey padded">
  <div class="container">
    <div class="row">
      <h1 class='text-center'>Discover the Fullcar selection </h1>
      <hr>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-paris.jpg');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <img class="card-user avatar-large" src="images/romain.jpeg">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-brussels.jpeg');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <img class="card-user avatar-large" src="images/anne.jpg">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)) , url('images/card-london.jpeg');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <img class="card-user avatar-large" src="images/seb.jpg">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
</div>
